body{
    padding: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.disable{
    cursor: not-allowed;
    pointer-events: none;
    background-color: #f1ebeb !important;
  }

  .list-icon{
      list-style-type: 'âŒ- ';
  }

.File{
    display: flex;
    flex-direction: column;    
    width: 30%;
    margin-bottom: .75rem;
    
}

.File >label{
    margin-bottom: .2rem;
}

.down {
    display: flex;
    flex-direction: column;
}


.flex{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}